.cards__text-holder{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 32px;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .cards__text-holder{
    margin: 32px 0 0 0;
    padding: 0 16px 0 16px;
  }
}
