.cards__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.cards__paragraph:not(:last-child) {
  margin-bottom: 26px;
}
@media screen and (max-width: 1023px) and (min-width: 320px) {
  .cards__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
