.header__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.header__link:first-child {
  margin-right: 18px;
}
.header__link:active {
  text-decoration: underline;
}
.header__link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__link {
    font-size: 18px;
    line-height: 111%;
  }
}
