.cards__item{
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  padding: 0 148px 0 148px;
}
.cards__item:last-child{
  margin-bottom: 0;
}
@media screen and (max-width: 1279px) and (min-width:1024px) {
  .cards__item{
    padding: 0 48px 0 48px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .cards__item{
    padding: 0 24px 0 24px;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .cards__item{
    padding: 0;
    margin-bottom: 50px;
  }
}
