.cover__title {
  margin: 0;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .cover__title {
    max-width: 420px;
    font-size: 32px;
    line-height: 109%;
  }
}
